{% extends "base.html" %}

{% block breadcrumbs %}
  <a class="breadcrumb-item" href="{{ url_for('courses') }}">Courses</a>
  <a class="breadcrumb-item" href="{{ url_for('course',course_name=course_name) }}">{{course_name}}</a>
  <a class="breadcrumb-item" href="{{ url_for('courseItem',course_name=course_name,course_item_name=course_item.name) }}">{{course_item.name}}</a>
  <span class="breadcrumb-item active">Edit {{course_item.name}} Item</span>
{% endblock %}

{% block content %}
    <div class="card">
        <form action="{{ url_for('editCourseItem',course_name=course_name, course_item_name=course_item.name)}}" method = "POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{course_item.name}}" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description" value="{{course_item.description}}" />
            </div>
            <div class="form-group">
                <label for="steps">Steps</label>
                <textarea class="form-control" id="steps" name="steps" rows="10">{{course_item.steps}}</textarea>
            </div>
            <button type="submit" value="Create" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" href="{{ url_for('courseItem',course_name=course_name,course_item_name=course_item.name) }}">Cancel</a>
        </form>
    </div>
{% endblock %}